/* Init file for noyzine */

// Add susy
@import "../bower_components/susy/sass/susy";


/* Variables */

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Abel|Roboto:400,700,900);
$base-font-size: 18px;
$nav-font-size: 16px;
$font-family_primary: 'Roboto', sans-serif;
$font-family_secondary: 'Abel', sans-serif;


/* Color */
$black: #333;
$white: #fff;
