/* Init file for noyzine */

// Add susy
@import "susy";


/* Variables */

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Abel|Source+Serif+Pro:400,700);
$base-font-size: 18px;
$nav-font-size: 16px;
$font-family_secondary: 'Source Serif Pro', serif;
$font-family_primary: 'Abel', sans-serif;


/* Color */
$black: #333;
$white: #fff;
