
$susy : (
	columns: 12,
	gutters: .25,
	container: 1200px,
	global-box-sizing: border-box,
	
	debug : (
		image: show,
		output: overlay,
	)
);

@include global-box-sizing;

%container {
	@include container;
}

.container {
	@extend %container;
}

.span-full {
	@include full;
}
