$menu-link-border-height: 5px;
$menu-toggle-font-size: 14px;
$nav-padding: 20px;

.nav {
	background: $white;
	font-family: $font-family-secondary;
	font-size: $nav-font-size;

	&.nav-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		background: $black;
		z-index: 3;

		.logo,
		.menu__link { 
			color: $white;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.logo {
			font-size: 16px;
			padding-top: toEm(10px, 16px);
			padding-bottom: toEm(10px, 16px);
		}

		.menu__link {
			border: $menu-link-border-height solid $black;
			transition: none;
			transition: background ease-in-out .2s, color ease-in-out .3s;

			&:hover {
				color: $black;
				background: $white;
			}

			@include respond-to(medium) {
				margin-top: 0px;
			}
		}

	}

	.logo,
	.menu-toggle,
	.nav__menu {
		@include span(12);
	}

	.logo,
	.nav__menu {
		margin: toEm(10px) 0;
		padding: toEm(10px) toEm(20px);
	}

	.logo {
		color: $black;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		padding: toEm(10px, 18px) toEm(20px, 18px);
		/* background: url(../img/logo.svg) no-repeat center center/contain; */

		&:hover {
			color: mix($black, $white, 50%);
		}

		@include respond-to(medium) {
			text-align: left;
		}
	}

	.menu-toggle {
		visibility: visible;
		background: mix($black, $white, 90%);
		color: $white;
		border: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: $menu-toggle-font-size;
		padding: toEm(10px, $menu-toggle-font-size);
		outline: none;

		@include respond-to(medium) {
			visibility: hidden;
			position: absolute;
			width: 0;
			height: 0;
		}
	}

	.nav__menu {
		list-style: none;
		padding: 0 toEm(20px);
		
		@include respond-to(large) {
			padding: 0;
		}

		@include respond-to(small) {
			visibility: hidden;
			position: absolute;

			&.open {
				visibility: visible;
				position: static;
			}
		}

	}

	@include respond-to(medium) {
		.logo {
			@include span(3);
		}
		
		.nav__menu {
			@include span(9 last);
		}
	}
}

.menu {
	text-align: right;

	.menu__item {
		display: block;
		text-align: center;

		@include respond-to(medium) {
			display: inline-block;
			margin-left: 1em;
		}
	}

	.menu__link {
		display: block;
		text-decoration: none;
		color: $black;
		padding: toEm($nav-padding, $nav-font-size);
		border: $menu-link-border-height solid transparent;
		transition: border ease-in-out .2s;

		&:hover {
			border: $menu-link-border-height solid $black;
		}

		@include respond-to(medium) {
			padding: toEm($nav-padding - 10px, $nav-font-size);
		}
	}
}
