$menu-link-border-height: 5px;
$nav-padding: 20px;

.nav {
	background: $white;
	font-family: $font-family-primary;
	font-size: $nav-font-size;

	&.nav-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		background: $black;
		z-index: 3;

		.logo,
		.menu__link { 
			color: $white;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.logo {
			padding-top: 10px;
			font-size: 16px;
		}

		.menu__link {
			border-top: $menu-link-border-height solid transparent;

			&:hover {
/* 				color: $black; */
/* 				background: $white; */
				border-top: $menu-link-border-height solid $white;
			}
		}
	}

	.logo {
		@include span(3);
		color: $black;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		padding: toEm($nav-padding, 18px);
		/* background: url(../img/logo.svg) no-repeat center center/contain; */

		&:hover {
			color: mix($black, $white, 50%);
		}
	}

	.nav__menu {
		@include span(9 last);
		list-style: none;
		margin: 0;
		padding: 0 toEm(20px);
		
		@media screen and (min-width: 1200px) {
			padding: 0;
		}
	}
}

.menu {
	text-align: right;

	.menu__item {
		display: inline-block;
		margin-left: 1em;
	}

	.menu__link {
		display: block;
		text-decoration: none;
		color: $black;
		padding: toEm($nav-padding, $nav-font-size);
		border-bottom: $menu-link-border-height solid transparent;
		transition: border ease-in-out .2s;

		&:hover {
			border-bottom: $menu-link-border-height solid $black;
		}
	}
}
