// Section: zine
.section-zine {
	@extend .container;

	.zine__cover {
		@extend .span-full;

		.zine__cover-image {
			display: block;
			max-width: 100%;
			height: auto;
			margin: toEm(50px) auto;
		}
	}

	.form-wrapper {
		@extend .span-full;

		/*
		@media screen and (min-width: 300px) {
			width: toEm(300px);
			margin: auto;
		}
		*/
		.form {
			width: 100%;
			margin: 30px auto;
			padding: 0 20px;

			@media screen and (min-width: 300px) {
				width: 300px;
				margin: 50px auto;
			}
		}
	}
}

.section-about {
	background-color: $black;
	color: $white;
	
	.section__content {
		@extend .container;
		padding: 0 toEm(20px);

		.about__header, 
		.about__content {
			@extend .span-full;
		}

	}

}
