// Sections 
.sections {
	padding-top: toEm(60px);

	& > [class^="section-"] {
		padding: toEm(50px) toEm(20px);
	}
}

// Section: intro
.section-intro {
	@extend %container;

	.zine {
		padding: 0 toEm(20px);

		.zine-cover,
		.zine-intro {
			@include span(12);
		}

		.zine-cover {
			margin: toEm(20px) auto;

			.zine__cover-image {
				@extend %center-block;
				max-width: 100%;
				height: auto;
			}

			@include respond-to(medium) {
				margin-left: toEm(-40px);
				
				.zine__cover-image {
					margin-left: 0px;
				}
			}
		}
	
		.zine-intro {
			margin-top: toEm(20px);
			padding: toEm(20px) 0px;
			border-top: 1px solid mix($black, $white, 10%);
			text-align: center;
		}

		@include respond-to(medium) {
			.zine-cover {
				@include span(8); 
			}
			.zine-intro {
				@include span(4 last);
				margin-top: toEm(90px);
				text-align: right;
			}
		}
	}
}

// Section: form
.section-form {
	@extend %container;
	
	.form-writeup-wrapper {
		@include span(12);

		.form-writeup {
			background-color: $black;
			border: 3px solid $black;
			padding: toEm(30px, 24px);
			text-align: center;
			color: $white;
			font-size: 24px;
		}
	}

	.form-wrapper {
		@include span(12);

		.form {
			width: 100%;
			margin: toEm(100px) auto;
			padding: 0 20px;

			@include respond-to(medium) {
				max-width: 400px;
				margin-top: 0px;
			}
		}
	}

	@include respond-to(medium) {
		.form-writeup-wrapper {
			@include span(4);
		}

		.form-wrapper {
			@include span(8 last);
		}
	}
}

.section-about {
	background-color: $black;
	color: $white;
	
	.section__content {
		@extend %container;
		padding: 0 toEm(20px);

		.about__header, 
		.about__content {
			@extend .span-full;
		}

		.about__header {
			font-family: $font-family-secondary;
		}

	}
}
