// Section: zine
.section-zine {
	@extend .container;

	.zine__cover {
		@extend .span-full;

		.zine__cover-image {
			display: block;
			max-width: 100%;
			height: auto;
			margin: toEm(50px) auto;
		}
	}

	.form-wrapper {
		margin: auto;

		@media screen and (min-width: 300px) {
			width: toEm(300px);
		}
	}
}
