$artist-card-height: 400px;

// Sections 
.sections {
	margin-bottom: toEm(100px);

	& > [class^="section-"] {
		padding: toEm(50px) toEm(20px);
	}

	.section__content {
		@extend %container;
		padding: 0 toEm(20px);

		.section__header {
			font-family: $font-family-secondary;
		}
	}
}

// Section: intro
.section-intro {
	padding: 0 !important;
	background: url(../img/section-intro.jpg) no-repeat fixed center center/cover;
	color: $white;

	.zine {
		padding: toEm(100px) toEm(20px);
		background: rgba(darken($green, 60), .9);
		overflow: auto;

		.zine-cover,
		.zine-intro {
			@include span(12);
		}

		.zine-cover {
			margin: toEm(20px) auto;

			.zine__cover-image {
				@extend %center-block;
				max-width: 100%;
				height: auto;
			}

			@include respond-to(medium) {
				margin-right: toEm(-40px);
				
				.zine__cover-image {
					margin-right: 0px;
				}
			}
		}
	
		.zine-intro {
			margin-top: toEm(20px);
			padding: toEm(20px) toEm(10px);
			text-align: center;
		}

		@include respond-to(medium) {
			.zine-cover {
				@include span(8 last); 
			}
			.zine-intro {
				@include span(4);
				margin-top: toEm(90px);
			}
		}
	}
}

// Section: form
.section-form {
	@extend %container;
	
	.form-writeup-wrapper {
		@include span(12);

		.form-writeup {
			background-color: $black;
			border: 3px solid $black;
			padding: toEm(30px, 24px);
			text-align: center;
			color: $white;
			font-size: 24px;
		}
	}

	.form-wrapper {
		@include span(12);

		.form {
			width: 100%;
			margin: toEm(100px) auto;
			padding: 0 20px;

			@include respond-to(medium) {
				max-width: 400px;
				margin-top: 0px;
			}
		}
	}

	@include respond-to(medium) {
		.form-writeup-wrapper {
			@include span(4);
		}

		.form-wrapper {
			@include span(8 last);
		}
	}
}

.section-about {
	background-color: $black;
	color: $white;
	
	.section__header, 
	.about__content {
		@extend .span-full;
	}
}

.section-artists {
	@extend %container;

	.artists {
		@extend %unstyled-list;		
		@extend %center-block;

		@include respond-to(medium) {
			max-width: 80%;
		}

		.artist-wrapper {
			@include respond-to(medium) {
				width: 50%;
				float: left;
			}


			&.opened {
				margin-bottom: $artist-card-height;
			}

			&.opened {
				.artist-card {
					@extend %show;
					max-height: toEm(300px);
					overflow-Y: auto;
					display: block;
					transition: all ease-in-out 2s;
				}
			}

			@include respond-to(medium) {
				&.opened + .artist-wrapper {
					margin-bottom: $artist-card-height
				}

				&.opened:nth-child(even) {
					.artist-card {
						margin-left: -100%;
					}
				}
			}
		}

		.artist {
			position: relative;
			/* margin: 0 toEm(5px) toEm(10px); */

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba($black, .8);
			}
			
			&:hover {
				&:after {
					display: none;
					transition: all ease-in-out .3s;
				}
			}
		}

		.artist-image {
			@extend %center-block;
		}

		.artist-name {
			position: absolute;
			/* top: 50%; */
			/* left: 50%; */
			/* transform: translateX(-50%); */
			/* margin-top: -18px; /1* font-size *1/ */
			right: 20px;
			bottom: 0px;
			z-index: 1;
			padding: toEm(20px);
			font-size: 14px;
			font-weight: 100;
			text-transform: uppercase;
			text-align: center;
			color: $white;
			border: 2px solid $white;
			cursor: pointer;

			&:hover {
				background: $black;
				border-color: $black;
				transition: all ease-in-out .1s;
			}
		}

		.artist-card {
			background: $white;
			position: absolute;
			@extend %hide;
			display: none;
			padding: toEm(40px) toEm(20px);

			@include respond-to(medium) {
				width: 200%;

				.artist-bio, 
				.artist-info {
					width: 50%;
					float: left;
				}
			}
				

			.close {
				position: absolute;
				top: 10px;
				right: 10px;
				background: $black;
				padding: toEm(10px) toEm(20px);
				cursor: pointer;
			}
		}
	}
}
